/* Base styles for mobile screens */
@media (max-width: 600px) {
    .resource-container {
        width: 100%;
        padding: 5px;
        left: 0px;
        right: 0px;
    }

    .button-container button {
        flex: 1 1 100%;
        font-size: 14px;
        padding: 10px;
    }

    .settings-button {
        font-size: 24px;
    }

    .modal-content {
        width: 90%;
        padding: 10px;
    }

    .close {
        font-size: 24px;
    }

    .version-info {
        font-size: 10px;
    }

    body, html {
        overflow: auto;
    }
}

/* Pop-up styles */
.dollar-pop-up, .energy-pop-up {
    position: absolute;
    font-weight: bold;
    font-size: 14px;
    pointer-events: none;
    z-index: 2000;
    transition: transform 0.5s ease-out, opacity 0.5s ease-out;
    filter: brightness(150%);
    padding: 5px 10px;
    transform: translateY(-20px) scale(1);
    opacity: 0;
    animation: pop-up-animation 1s forwards;
}

@keyframes pop-up-animation {
    0% {
        transform: translateY(0) scale(0.8);
        opacity: 0;
    }
    100% {
        transform: translateY(-20px) scale(1);
        opacity: 1;
    }
}

.dollar-pop-up {
    color: green;
}

.energy-pop-up {
    color: yellow;
}

/* Tooltip styles */
.tooltip {
    position: absolute;
    background: rgba(0, 0, 0, 0.75);
    color: #fff;
    padding: 8px;
    border-radius: 8px;
    font-size: 14px;
    white-space: nowrap;
    z-index: 1000;
}

/* Version info styles */
.version-info {
    position: fixed;
    top: 10px;
    right: 10px;
    text-align: right;
    font-size: 10px;
    color: blue;
    z-index: 1000;
}

/* Base styles for all devices */
body, html {
    overflow: hidden;
}
